/* // 删除线 */
.text-del {
	text-decoration:line-through;
}
/* // 盒子 */
.wrapper {
	padding: 0 32rpx;
	box-sizing: border-box;
}

/* // 蒙版 */
.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.75);
	/* backdrop-filter: blur(4rpx); */
}
	
/* // 纵水平垂直居中 */
.text-flex-center {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* 行垂直居中,两端对齐 */
.flex-ac-jb {
  display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 行垂直居中,两端居中 */
.flex-ac-jc {
  display: flex;
	justify-content: center;
	align-items: center;
}
.flex {
	display: flex;
}
.flex-1 {
	flex: 1
}
.flex-auto {
	flex: 0 0 auto;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-column {
	flex-direction: column;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-align-center {
	align-items: center;
}
.flex-align-baseline {
	align-items: baseline;
}
.flex-align-start {
	align-items: start;
}
.flex-align-end {
	align-items: flex-end;
}
.flex-jus-between {
	justify-content: space-between;
}
.flex-jus-center {
	justify-content: center;
}
.flex-jus-around {
	justify-content: space-around;
}
.flex-jus-end {
	justify-content: flex-end;
}
/* // 缩略行 */
.no-wrap {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all
}
.no-wrap-2 {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

/* // 镂空按钮 */
.btn-hollow {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #00CB71;
	color: #00CB71;
	background-color: #fff;
	border-radius: 100px;
	text-align: center;
	box-sizing: border-box;
	transform: rotateZ(360deg);
}
	
/* // 实心按钮 */
.btn-solid {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #00CB71;
	background: #00CB71;
	color: #fff;
	border-radius: 100px;
	text-align: center;
	box-sizing: border-box;
	transform: rotateZ(360deg);
}
	
.btn-no-new {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	text-align: center;
	background-color: #F3F3F5;
	color: rgba(48, 49, 51, 0.3);
	border: 1rpx solid #F3F3F5;
	box-sizing: border-box;
	transform: rotateZ(360deg);
}
	